.nav{
    color: white;
    margin: 0px;

}
.navbar{
    margin-top: 1%;
    height: 10%;
    background : #4CAF50;
    display:flex;
    width: 100vw;

}

.logo{
    display: inline-block;
    
}
.menu{
    display:inline-block;
    justify-content: flex-end;
    
    margin-top: 1rem;
}

.labels{
    
    display: inline-block;
    margin-right: 3rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    
}
.labels input{
    color:rgb(67, 67, 67);
    height: 1.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
}
.labels a{
    text-decoration: none;
}

.logo img{
    border-radius: 15px;
    margin: 1rem;
    height: 6rem;
}